In [2]:
import pickle
import pandas as pd

In [4]:
n_jobs = 1000
results = []

for i in range(n_jobs):
    results.append(pickle.load(open(f"results/training_stats_{i}", "rb")))

In [8]:
df = pd.DataFrame(results).sort_values("Valid. Loss")

In [9]:
df[0:10]

,Training Loss,Valid. Loss,Training Time,Validation Time,hidden_dims,learning_rate,embed_dim0,embed_dim1,epochs,job_id
30,6271.312925,6363.391187,0:00:03,0:00:00,"[76, 16, 128]",0.010,4,64,32,30
751,8220.314837,7133.193400,0:00:03,0:00:00,"[32, 128, 8, 16, 64]",0.010,16,8,32,751
15,6227.374438,7600.790250,0:00:02,0:00:00,"[72, 64, 128]",0.003,32,32,32,15
941,7142.445361,7717.581138,0:00:02,0:00:00,"[28, 128]",0.030,4,16,32,941
65,7503.585492,7882.702074,0:00:02,0:00:00,"[56, 64, 128]",0.030,32,16,32,65
68,7850.980726,8885.106628,0:00:01,0:00:00,"[16, 128]",0.030,4,4,32,68
221,7953.336711,9054.856995,0:00:02,0:00:00,"[144, 64, 128]",0.003,128,8,32,221
686,8974.919598,9556.123833,0:00:02,0:00:00,"[20, 128, 64, 8]",0.001,4,8,32,686
570,7895.851029,9562.296458,0:00:02,0:00:00,"[32, 128, 64, 16, 8]",0.001,16,8,32,570
760,10124.773554,10452.163155,0:00:02,0:00:00,"[264, 64, 128]",0.003,128,128,32,760

In [10]:
best_hyperparameters = {
    "hidden_dims": [76, 16, 128],
    "learning_rate": 0.010,
    "embed_dim0": 4,
    "embed_dim1": 64,
    "epochs": 32,
}

pickle.dump(best_hyperparameters, open("best_hyperparameters.pkl", "wb"))